@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:ital,wght@1,300;1,700&display=swap');
body {
    background-image: url('../images/pattern-background-mobile.svg');
    background-size: 200em;

    padding: 0;
    font-family: Poppins;
   
}

.main-body{
    width: 325px;
    height:600px ;
    background: white;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.3em;
  

    .dancing-woman{
        display: block;
        width: 325px;
        height:150px;
        border-top-left-radius: 1.3em;
        border-top-right-radius: 1.3em;
    }

    .title{
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        padding-top: 1.5em;
        color: rgba(7, 22, 54, 0.945);
        text-align: center;
    }

    .message{
        
        color: rgb(71, 71, 82);
        display:block;
        font-size: 0.9em;
        margin: 2em;
        text-align: center;
    }

    .container1{
        display: flex;
        background:rgb(243, 243, 243);
        margin: 1em;
        height: 70px;
        border-radius: 0.7em;

        .music-icon{
            width: 50px;
            height: 50px;
            margin-left: 10px;
            margin-top: 10px;
        }

      .msg1{
          font-size: 0.9em;
          font-weight: bold;
          margin-top: 5px;
          margin-left: 25px;
          white-space: nowrap;
      }

      .msg2{
          margin-top: 30px;
          margin-right: 30px;
          margin-left: -90px
      }

      .change{
          cursor: pointer;
          font-size: 0.9em;
          font-weight: bold;
          padding-top:25px;

          &:hover{
              text-decoration: none;
              color:rgb(81, 34, 211);
          }
      }

    }

    .ptp{
        cursor: pointer;
        text-decoration: none;
        display: block;
        color: white;
        text-align: center;
        padding-top: 7px;
        background: rgb(56, 0, 211);
        font-size: 0.9em;
        margin: auto;
        height: 30px;
        width: 250px;
        border-radius: 1em;

        &:hover{
            background:rgb(81, 34, 211)
        }
    }
    
    .cancel{
        font-weight: bold;
        font-size: 0.9em;
        color: rgb(161, 156, 156);
        cursor: pointer;
        display: block;
        text-decoration: none;
        padding-top: 25px;
        text-align: center;

        &:hover{
            color: black;
        }
    }
}

@media only screen and (min-width: 1080px){

    body{
        margin: 0;
        background-size: cover;
        background-position-y: -250px;
        background-repeat: no-repeat;
        background-image: url('../images/pattern-background-desktop.svg') no-repeat;
        background-color: rgb(170, 189, 224);
    }

}
